<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>-->

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/findfiles.js}"></script>
<link rel="stylesheet" th:href="@{/css/mycss.css}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Admin</title>
</head>
<body>
<div class="principal">
    <br/>
    <H1>Gestion des données</H1>
    <br/>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Selection des donnees</a></li>
            <li><a href="#tabs-2">Choix n°2</a></li>
        </ul>
        <div id="tabs-1">
            <form action="/home/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="pahtdirids" id="urlids" th:value="${urlids}"/>Chemin vers les fichiers des ids video
                <input type="file" name="file" onchange="getfolder(event)" accept=".xml" multiple>
                <button type="submit">Load</button>
            </form>
            <p class="message" th:text="${msg}"></p>
        </div>
        <div id="tabs-2">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula
                accumsan,nec, feugiat nec, luctus a, lacuDuis cursus. Maeceer at, magna. Nullam ac lacus. Nulla facilisi. lacus. Vivamus a libero vitae lectus
                hendrerit hendrerit.</p>
        </div>
    </div>

</div>
</body>
</html>