<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/err.js}"></script>
<link rel="stylesheet" th:href="@{/css/err.css}">
<title>Error</title>
</head>

<body onload="getRandomImage()">
<!--<body>-->
<div id="randImage" style="margin: 4em;"></div>
<!--<div><img th:src="@{/img/404-02.jpg}" /></div>-->
<!--<div><img th:src="@{/img/404-02.jpg}" /></div>-->
<!--<img alt="Error" src="/img/404-03.jpg" />-->
<!--
<button onclick="test()">test</button>
-->
</body>
</html>